# Application
NODE_ENV=DEVELOPMENT
PORT=3000

# CORS
CORS_ORIGINS=http://localhost:5173

# JWT Authentication
JWT_SECRET=666d34c76d67dda0f16291799a605e15537e2732553ac88061eee44c5b0a7d05
JWT_EXPIRED_TIME=1d

# Refresh Token
REFRESH_TOKEN_COOKIE=refreshToken
REFRESH_TOKEN_MAX_AGE=604800000

# Redis Cache
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=redis

# Rate Limiting
THROTTLE_TTL=60
THROTTLE_LIMIT=100
MEDIA_UPLOAD_PRESIGNED_TTL=900
CACHE_TTL=3600

# Groq AI
GROQ_API_KEY=<Your GROQ API KEY>
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_TEMPERATURE=0.7

# Ollama Embeddings
OLLAMA_BASE_URL=http://localhost:11435
EMBEDDINGS_MODEL=embeddinggemma

# ChromaDB Vector Store
VECTOR_COLLECTION_NAME=documents
CHROMADB_URL=http://localhost:8000

# PostgreSQL Database
DB_URL=postgresql://postgres:postgres@127.0.0.1:5432/rag_database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=rag_database

# MinIO S3 Storage
S3_HOST=127.0.0.1
S3_PORT=9000
S3_ENDPOINT=http://127.0.0.1:9000
S3_USERNAME=admin
S3_PASSWORD=password
S3_BUCKET=rag-bucket
S3_REGION=us-east-1
S3_USE_SSL=false

NODE_ENV=DEVELOPMENT
PORT=3000

CORS_ORIGINS=http://localhost:5173

JWT_SECRET=666d34c76d67dda0f16291799a605e15537e2732553ac88061eee44c5b0a7d05
JWT_EXPIRED_TIME=1d

GROQ_API_KEY=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
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_TEMPERATURE=0.7

OLLAMA_BASE_URL=http://localhost:11435
EMBEDDINGS_MODEL=embeddinggemma

VECTOR_COLLECTION_NAME=documents

CHROMADB_URL=http://localhost:8000

DB_URL=postgresql://postgres:postgres@127.0.0.1:5432/rag_database
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=rag_database

REDIS_PASSWORD=redis
REDIS_PORT=6379
REDIS_HOST=127.0.0.1
CACHE_TTL=3600

THROTTLE_TTL=60
THROTTLE_LIMIT=100

MEDIA_UPLOAD_PRESIGNED_TTL=900

REFRESH_TOKEN_COOKIE=refreshToken
REFRESH_TOKEN_MAX_AGE=604800000

S3_HOST=127.0.0.1
S3_PORT=9000
S3_ENDPOINT=http://127.0.0.1:9000
S3_USERNAME=admin
S3_PASSWORD=password
S3_BUCKET=rag-bucket
S3_REGION=us-east-1
S3_USE_SSL=false


